body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* header  */
/*  */
header{
  justify-content: space-between;
  padding: 10px;
  
}
header nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
  margin-right: 20px;
}
header nav a:hover{
  color: grey;
  font-size: large;
}

/* banner_section */
.banner {
  background-image: url("../img/melbourne\ 1.jpg");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items:center;
  justify-content: center;
  color: white;
  padding-bottom: 30px;
  /* background-blend-mode: darken; */
}
.banner_container{
  height: 60px;
  text-align: center;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.banner h3{
  font-size: 2.5rem;
}
.banner p{
  margin-top: 0;
  margin-bottom: 60px;
  font-size: large;
  
}
.navigation a{
  margin-top: 20px;
  color: white;
  background-color:rgba(233, 83, 83, 0.993);
  text-decoration:none;
  padding: 20px 50px;
  font-size: 1.3rem;
  box-shadow: 0 5px red;
  border-radius: 10px;
  
}
.navigation a:hover{
  background-color: rgb(156, 21, 21);
}




/* middle section */
.middle_section{
  background-color:rgba(231, 228, 228, 0.966);
  padding: 20px;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  
}
.middle_section .item{
  background-color: white;
  margin-right: 30px;
  border: 1px solid rgb(189, 184, 184);
  font-size: large;
  height: 150px;
  /* width: 70%; */
}

.middle_section h2{
  background-color:rgba(231, 228, 228, 0.966);
  padding: 10px;

  
}
.item p{
  margin-left: 20px;
  text-transform: capitalize;
}


/* bottom section */
.align_center{
  text-align: center;
  font-weight: bolder;
}
.bottom_section{
 padding: 20px

}
.grid_3{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.header_bottom_section h2{
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bolder;

}
.header_bottom_section p{
  font-size: 1rem;
  font-weight: bolder;

}

.textbox-1{
  background-image: url("../img/fitzroy.jpg");
}

.textbox-2{
  background-image: url("../img/st-kilda.jpg");
}

.textbox-3{
  background-image: url("../img/central-business-district.jpg");  
}
.text{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  font-size: large;
  color: whitesmoke;
  border: 1px solid rgb(189, 184, 184);
  
}
.text_2{
  
  padding: 30px 0;
  font-size: medium;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
} 
.bottom_section_box{
  background-color: rgba(216, 216, 210, 0.959);
  height: 350px;
}

/* bottom button */
.bottom_button {
  height:200px;
  align-items:center;
  justify-content: center;  
}

/* footer */
footer{
  background-color:rgb(63, 59, 59);
  color: blanchedalmond;
  text-align: center;
  padding: 35px;
  font-size: medium;
}
footer p{
  margin-top: 30px;
}
